.small-theme{
    --flex-item-width: 100%;
    --font-size:3rem;
}

.medium-theme{
    --flex-item-width: 40%;
    --font-size:2rem;
}

.large-theme{
    --flex-item-width: 15%;
    --font-size:1.6rem;
}

#app{
    font-size: var(--font-size);
}